<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>Contact List App</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>
<script src="javascripts/ui-bootstrap-tpls-0.14.3.min.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheets/slick.css" >
<link rel="stylesheet" type="text/css" href="stylesheets/slick-theme.css" >
<link rel="stylesheet" type="text/css" href="stylesheets/main.css" >
</head>
<body>
<header>
	<h3>ShenZhen 23° Rain</h3>
	<nav>
		<ul>
			<li>Quick Note</li>
			<li>Contact List</li>
			<li>Customize</li>
		</ul>
	</nav>
</header>
<content ng-controller="TodoController">
	<div class="myNotebook">
	<div class="leftPage">
		<h1>My notebook</h1>
		<div>
			<div class="noteDetails">
				Note Tilte: 
				<input id="noteTitle" maxlength="40" type="text" ng-model="thisTodo.title" ng-value="thisTodo.title">
				<textarea id="noteTodo" maxlength="100" ng-model="thisTodo.content">{{thisTodo.content}}</textarea>
				<div>
					<label>Classification: </label>
					<select id="noteClass" ng-model="thisTodo.priority">
						<option value="emergency">Emergency</option>
						<option value="normal">Normal</option>
						<option value="not important">Not important</option>
					</select>
				</div>
				<div>
					<input id="noteAlarm" type="checkbox"><label style="margin-right: 15px; margin-left: 5px" ng-model="thisTodo.alarm" checked="thisTodo.alarm">Alarm</label>
					<select>
						<option selected="true">0</option>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
					</select>
					Days
					<select>
						<option selected="true">0</option>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
						<option>8</option>
						<option>9</option>
						<option>10</option>
						<option>11</option>
						<option>12</option>
						<option>13</option>
						<option>14</option>
						<option>15</option>
						<option>16</option>
						<option>17</option>
						<option>18</option>
						<option>19</option>
						<option>20</option>
						<option>21</option>
						<option>22</option>
						<option>23</option>
					</select>
					Hours
					<select>
						<option selected="true">0</option>
						<option>5</option>
						<option>10</option>
						<option>15</option>
						<option>20</option>
						<option>25</option>
						<option>30</option>
						<option>35</option>
						<option>40</option>
						<option>45</option>
						<option>50</option>
						<option>55</option>
					</select>
					Minites
				</div>
				<div style="margin-bottom: 6px">
					<input id="noteComplete" type="checkbox" ng-model="thisTodo.complete" checked="thisTodo.complete">
					<label>Complete</label>
				</div>
				<div class="dtailsActions cssFlex">
					<a href="" ng-click="update(thisTodo)">Update</a>
					<a href="" ng-click="back()">Back</a>
				</div>
			</div>
				<div class="calendarSection">
					<div id="calendar-container">
						<div id="calendar-header">
							<img id="preMonth" src="icons/iconArrow.png" ng-click="changeMonth()">
							<span id="calendar-month-year"></span>
							<img id="nextMonth" src="icons/iconArrow.png" ng-click="changeMonth()">
						</div>
						<hr class="horiHr">
						<div id="calendar-dates"></div>
					</div>
					<div id="oneDate">
						<div id="oneDateUpside">
							<div id="oneDateHeader">
								<img src="icons/iconPins.png">
							</div>
							<div id="oneDateMonth">
								<label id="Month"></label>
							</div>
						</div>
						<div id="oneDateDownside">
							<div id="oneDateDay">
								<label id="Day"></label>
							</div>
							<hr class="horiHr">
							<div id="oneDateMark">
								<a id="red" ng-click="changeDateColor()">&nbsp;</a>
								<a id="blue" ng-click="changeDateColor()">&nbsp;</a>
								<a id="yellow" ng-click="changeDateColor()">&nbsp;</a>
								<a id="green" ng-click="changeDateColor()">&nbsp;</a>
							</div>
						</div>
					</div>
					<div id="musicPlayer">
						<sound-manager></sound-manager>
						<div class="musicUpside" ng-init="muted = false">
							<div class="musicDisplay">
								<p>
				                    Song:&nbsp;&nbsp;{{ currentPlaying.title }}
				                    <br>
				                    Artist:&nbsp;&nbsp;{{ currentPlaying.artist }}
				                </p>
								<div class="musicVoice">
					                <label style="float: right">Volume: {{ volume }}</label>
					                <br>
					                <div class="musicVoiceActions">
						                <img src="icons/iconIncrease.png" music-volume data-type="increase"></img>
						                <img src="icons/iconDecrease.png" music-volume data-type="decrease"></img>
					                </div>
								</div>
							</div>
							<div class="musicMiddleBar">
				                <label>{{ currentPostion }}</label>
				                <div class="seekBase" seek-track>
	                    			<div class="seekLoad" ng-style="{width : ( progress + '%' ) }"></div>
	                			</div>
	                    		<label>{{ currentDuration }}</label>
                    		</div>
						</div>
						<div class="musicDownside" ng-init="played = false">				
							<div ng-class="{'musicPushed': repeat}" repeat-music>
				                <img src="icons/iconRepeat.png"></img>
			                </div>
			                <div>
			                <img src="icons/iconNext.png" style="transform: translateY(3px) rotateZ(180deg)" prev-track></img>
			                </div>
			                <div ng-class="{'musicPushed': played}">
							<img play-pause-toggle data-play="Play!" data-pause="Pause!" src="icons/iconPlay.png" ng-click="played = !played"></img>
							</div>
			                <div >
			                <img src="icons/iconNext.png" next-track></img>
			                </div>
						</div>
					</div>
				</div>
			<div class="furtherFeathers">
				<h1>Feathers</h1>
				<div>
					<img play-all="songs" id="featherMusic" src="icons/iconMusic.png" ng-click="featherOpen()">
					<img id="featherRadio" src="icons/iconRadio.png">
					<img id="featherDraw" src="icons/iconDraw.png">
					<img id="featherFacebook" src="icons/iconFacebook.png">
					<img id="featherTwitter" src="icons/iconTwitter.png">
					<img id="featherGoogle" src="icons/iconGoogle.png">
					<img id="featherAdd" src="icons/iconAdd.png">
				</div>
			</div>
		</div>
	</div>
		<div class="rightPage">
			<h1>To do list</h1>
			<div>
			    <div class= "todoList">
			        <a id="addTask" href="" ng-click="save()">+Add a New Task</a>
					<hr>
			        <div class="noteTitle" ng-repeat="todo in filteredTodos| orderBy: 'complete': false" ng-init="todo.complete">
						<input ng-model="todo.complete" type="checkbox" ng-checked="todo.complete">
			        	<div class="noteInput">
					        <label ng-click="editing = !editing" ng-class="{'completedTodo': todo.complete}" ng-hide="editing">{{todo.title}}</label>
				            <input ng-blur="editing = false" ng-focus="true" ng-hide="!editing" type="text" ng-model="todo.title" maxlength="40">
			            </div>
			            <div class="noteActions">
							<a href="" ng-click="edit(todo)">Edit</a>
							<a href="" ng-click="update(todo)">Save</a>
							<a href="" ng-click="delete(todo._id)">Delete</a>
						</div>
						<hr class="horiHr">
			        </div>
			        <div ng-hide="totalPage==0">
			        	{{currentPage}}/{{totalPage}}
				        <uib-pager total-items="totalItems" ng-model="currentPage" class="pagination"></uib-pager>
			        </div>
			        <div id="noNotesDay" ng-hide="totalPage!==0">
			        	<img src="images/happyDay.jpg">
			        	<div>
				        	<label>Enjoy your day~</label>
			        	</div>
			        </div>
			    </div>
			    <div class= "newsSection">
		    	<h1>News Today</h1>
		    	<div class="variable-width">
				  <div><img src="images/img1-s.jpg"></div>
				  <div><img src="images/img2-s.jpg"></div>
				  <div><img src="images/img3-s.jpg"></div>
				  <div><img src="images/img4-s.jpg"></div>
				  <div><img src="images/img5-s.jpg"></div>
				  <div><img src="images/img6-s.jpg"></div>
				</div>
		    </div>
			</div>
		</div>
	</div>
</content>
<script src="javascripts/slick.min.js"></script>
<script src="controllers/TodoController.js"></script>
<script src="javascripts/angular-soundmanager2.min.js"></script>
</body>
</html>